@import "bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
}

body {
    top: 0 !important;
}

a.VIpgJd-ZVi9od-l4eHX-hSRGPd {
    display: none !important;
}

.goog-te-gadget {
    font-size: 0px !important;
}